{%load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/estilomio.css">

    <!-- Latest compiled JavaScript -->
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <script src="static/js/jquery-3.2.1.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="static/js/popper.min.js"></script>

    <title>Document</title>
</head>

<body class="page-shell">
    <main class="page-content">
        {%for e in data%}

        <div class="container my-5">

            <div class="row justify-content-center">
                <div class="col-lg-6">

                    <div class="product-card card border-0">

                        <img src="{{ e.Image }}" class="card-img-top img-responsive center-block" alt="{{ e.titulo }}">

                        <div class="card-body">

                            <h5 class="card-title">{{ e.titulo }}</h5>

                            <p class="card-text"><strong>Description:</strong> {{ e.descripcion }}</p>

                            <p class="card-text"><strong>Precio:</strong> {{e.precio}} CUP</p>

                            <p class="card-text"><strong>Contact:</strong> {{e.telefono}}</p>

                            <p class="card-text"><strong>Date:</strong> {{ e.fecha }}</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </main>
</body>

</html>
